@{
    Layout = "_LoginLayout";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/css/login.css" rel="stylesheet" />
@model PruebaCorta.Models.Usuario

@{
    ViewData["Title"] = "Registrar";
}

<div class="container login-container">
    <div class="row justify-content-center">
        <div class="col-md-6 login-form-1">
            <h3>Registrarse</h3>
            <form action="@Url.Action("Registrar","Acceso")" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <input asp-for="NombreUsuario" type="text" class="form-control" placeholder="Usuario" />
                    <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input asp-for="Contrasena" type="password" class="form-control" placeholder="Contraseña" id="Password" />
                        <div class="input-group-append">

                            <button type="button" class="btn btn-outline" id="togglePassword" style="border:0px;">
                                <img id="eyeIconClosed" src="~/img/eye_closed.svg" width="24" height="24" style="display: none;" />
                                <img id="eyeIconOpen" src="~/img/eye.svg" width="24" height="24" />
                            </button>
                        </div>
                    </div>
                    <span asp-validation-for="Contrasena" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input asp-for="ConfirmarContrasena" type="password" class="form-control" placeholder="Confirmar contraseña" id="ConfirmPassword" />
                        <div class="input-group-append">

                            <button type="button" class="btn btn-outline" id="toggleConfirmPassword" style="border:0px;">
                                <img id="eyeIconConfirmClosed" src="~/img/eye_closed.svg" width="24" height="24" style="display: none;" />
                                <img id="eyeIconConfirmOpen" src="~/img/eye.svg" width="24" height="24" />
                            </button>
                        </div>
                    </div>
                    <span asp-validation-for="ConfirmarContrasena" class="text-danger"></span>
                </div>

                @if (ViewData["Mensaje"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewData["Mensaje"]
                    </div>
                }
                <div class="form-group text-center">
                    <input type="submit" value="Registrarse" class="btnSubmit" />
                    <span>@ViewBag.Error</span>
                </div>

                <div class="form-group">
                    ¿Ya tienes una cuenta? <a href="@Url.Action("Login","Acceso")" class="ForgetPwd">Iniciar Sesion</a>
                </div>
            </form>
        </div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        document.getElementById("togglePassword").addEventListener("click", function () {
            var passwordInput = document.getElementById("Password");
            var eyeIconClosed = document.getElementById("eyeIconClosed");
            var eyeIconOpen = document.getElementById("eyeIconOpen");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                eyeIconClosed.style.display = "none";
                eyeIconOpen.style.display = "inline";
            } else {
                passwordInput.type = "password";
                eyeIconClosed.style.display = "inline";
                eyeIconOpen.style.display = "none";
            }
        });

        document.getElementById("toggleConfirmPassword").addEventListener("click", function () {
            var confirmPasswordInput = document.getElementById("ConfirmPassword");
            var eyeIconConfirmClosed = document.getElementById("eyeIconConfirmClosed");
            var eyeIconConfirmOpen = document.getElementById("eyeIconConfirmOpen");
            if (confirmPasswordInput.type === "password") {
                confirmPasswordInput.type = "text";
                eyeIconConfirmClosed.style.display = "none";
                eyeIconConfirmOpen.style.display = "inline";
            } else {
                confirmPasswordInput.type = "password";
                eyeIconConfirmClosed.style.display = "inline";
                eyeIconConfirmOpen.style.display = "none";
            }
        });
    </script>
}
