<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/css/login.css" rel="stylesheet" />
@model PruebaCorta.Models.Usuario

@{
    ViewData["Title"] = "Registrar";
}

<div class="container login-container">
    <div class="row justify-content-center">
        <div class="col-md-6 login-form-1">
            <h3>Registrarse</h3>
            <form action="@Url.Action("Registrar","Acceso")" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <input asp-for="NombreUsuario" type="text" class="form-control" placeholder="Usuario" />
                    <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Contrasena" type="password" class="form-control" placeholder="Contraseña" />
                    <span asp-validation-for="Contrasena" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="ConfirmarContrasena" type="password" class="form-control" placeholder="Confirmar contraseña" />
                    <span asp-validation-for="ConfirmarContrasena" class="text-danger"></span>
                </div>
                @if (ViewData["Mensaje"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewData["Mensaje"]
                    </div>
                }
                <div class="form-group text-center">
                    <input type="submit" value="Registrarse" class="btnSubmit" />
                    <span>@ViewBag.Error</span>
                </div>

                <div class="form-group">
                    ¿Ya tienes una cuenta? <a href="@Url.Action("Login","Acceso")" class="ForgetPwd">Iniciar Sesion</a>
                </div>
            </form>
        </div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
