@model PruebaCorta.Models.Pregunta

@{
    ViewData["Title"] = "Hacer una Pregunta";
}

<div class="container mt-4">
    <h1 class="text-center mb-4">Haz tu pregunta</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Pregunta</h4>
                    <hr />
                    <form asp-action="HacerPregunta" method="post">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="Texto" name="Texto" required />
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary">Enviar</button>

                            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
