
@model IEnumerable<PruebaCorta.Models.Respuesta>

@{
    ViewData["Title"] = "Ver Respuestas";
}

<div class="container mt-4">
<h2 class="text-center mb-4">Respuestas</h2>

<div class="d-flex justify-content-end mb-3">
    <a href='@Url.Action("Index", "Home")' class="btn btn-secondary">Volver</a>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">Respuestas</th>
                <th scope="col">Fecha</th>
                <th scope="col">Usuario</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var respuesta in Model)
            {
                <tr>
                    <td>@respuesta.Texto</td>
                    <td>@respuesta.FechaCreacion.ToString("dd/MM/yyyy")</td>
                    <td>@respuesta.Usuario.NombreUsuario</td>
                </tr>
            }
        </tbody>
    </table>
</div>
</div>